.playerDiv {
  width: 400px;
  padding: 10px;
}

.videoContainer {

  .full-text {
    margin: 5px 0px;
  }

  .video-head {
    color: grey;
  }
}

.layout-container {
  height: 100vh;
}

.side-menu{
  height: '100%';
  border-right: 0;
}

.background-white {
  background: white !important;
}

.inner-layout-container{
  padding: '24px 24px';
}

.content-container {
  padding: 20px;
  margin: 0;
  min-height: 280;
}

.upload-demo-start {
  margin-top: 16px;
} 

.form-container {
  width: 400px;
}

.error {
  margin-top: 16px;
  color : red;
}

.logout-button{
  float: right;
  margin: 15px 0px;
}

.videoContainer2 {
  margin-bottom: 15px;
}

.player2 {
  margin-bottom: 15px;
}